HELP.md
*.md
!README.md
.DS_Store
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Android local ###
android-onestore/.gradle/
android-onestore/build/
android-onestore/app/build/
android-onestore/local.properties

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Node / Apps in Toss ###
node_modules/
apps-in-toss/dist/
apps-in-toss/.granite/
apps-in-toss/node_modules/
apps-in-toss/*.ait

### VS Code ###
.vscode/
